.taskWrapper {
    background-color: #ccc;
    border-radius: 10px;
    box-shadow: 0 0 14px 1px rgba(0, 0, 0, .2);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
   
}

.taskHeading {
    font-size: 20px;
    margin-bottom: 15px;
}

.taskDescription {
    font-size: 16px;
    margin-bottom: 25px;

}

.completed{
    margin-bottom: 15px;
}

span {
margin-left: 15px;
}